<section class='py2 clearfix'>

  <% if (isReferenceSection(note)) { %>
    <% note.description.children.forEach(function(reference) { %>
      <div id="<%= reference.id %>">
        <%= md(reference) %>
      </div>
    <% }) %>
  <% } else if (note.description) { %>
    <%= md(note.description) %>
  <% } %>
</section>